.container {
  @apply flex flex-col gap-6 w-full;
}

.grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-8 gap-4;
}

.loadMoreTrigger {
  @apply h-10 w-full;
}

.loadingContainer {
  @apply flex justify-center w-full py-4;
}
