@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #a855f7;
  --color-bg: #111827;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}
