.container {
  @apply min-h-screen bg-surface-bg flex;
}

.sidebarWrapper {
  @apply hidden md:block w-64 flex-shrink-0;
}

.mainContent {
  @apply flex-1 flex flex-col overflow-x-hidden;
}

.contentWrapper {
  @apply flex-1;
}
