.base {
  @apply rounded-lg transition-colors border;
}

.default {
  @apply bg-surface-panel border-transparent;
}

.outlined {
  @apply bg-surface-panel border-border;
}

.elevated {
  @apply bg-surface-panel border-transparent dark:shadow-none;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}

.padding_none {
  @apply p-0;
}

.padding_sm {
  @apply p-3;
}

.padding_md {
  @apply p-4;
}

.padding_lg {
  @apply p-6;
}

.header {
  @apply border-b border-border;
}

.footer {
  @apply border-t border-border;
}

.headerPadding_none {
  @apply px-0 pt-0 pb-0;
}

.headerPadding_sm {
  @apply px-3 pt-3 pb-2;
}

.headerPadding_md {
  @apply px-4 pt-4 pb-3;
}

.headerPadding_lg {
  @apply px-6 pt-6 pb-4;
}

.footerPadding_none {
  @apply px-0 pt-0 pb-0;
}

.footerPadding_sm {
  @apply px-3 pt-2 pb-3;
}

.footerPadding_md {
  @apply px-4 pt-3 pb-4;
}

.footerPadding_lg {
  @apply px-6 pt-4 pb-6;
}

.contentPadding_none {
  @apply p-0;
}

.contentPadding_undivided_sm {
  @apply p-3;
}

.contentPadding_divided_sm {
  @apply px-3 py-2;
}

.contentPadding_undivided_md {
  @apply p-4;
}

.contentPadding_divided_md {
  @apply px-4 py-3;
}

.contentPadding_undivided_lg {
  @apply p-6;
}

.contentPadding_divided_lg {
  @apply px-6 py-4;
}
