.container {
  @apply inline-flex items-center justify-center;
}

.xs {
  @apply w-3 h-3;
}

.sm {
  @apply w-4 h-4;
}

.md {
  @apply w-5 h-5;
}

.lg {
  @apply w-6 h-6;
}

.xl {
  @apply w-8 h-8;
}
